<div *ngIf="isUserSignedIn">
    <div>
        <button (click)="signOutBtnClicked()">Sign Out</button>
    </div>
    <a routerLink="/add">
        <button>Add new recipe</button>
    </a>
    <app-recipe-listing *ngFor="let singleRecipe of recipes"
     [recipe]="singleRecipe"
     (onRecipeListingClicked)="onRecipeClicked($event)" 
     (onRecipeListingEditClicked)="onEditRecipeClicked($event)" 
     (onRecipeListingDeleteClicked)="onDeleteRecipeClicked($event)">
    </app-recipe-listing>
</div>
<div *ngIf="!isUserSignedIn">
    <button (click)="signInWithGoogleBtnClicked()">Sign In With Google</button>
</div>